@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #80cbc4;
}

#column-2 {
  background: #ffd740;
}

#column-3 {
  background: #4f9a94;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color: #6002ee;
  }

  #column-1 {
    background-color: #ff9800;
  }

  #column-2 {
    background-color: #9c47ff;
  }

  #column-3 {
    background-color: #ffc947;
    width: 100%;
  }

  footer {
    background-color: #0000ba;
  }

  .col-3 {
    width: 50%;
  }
  
}



/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #ff1744;
  }

  #column-1 {
    background-color: #ff616f;
  }

  #column-2 {
    background-color: #768fff;
  }

  #column-3 {
    background-color: #2962ff;
    width: 33.3333%;
  }

  footer {
    background-color: #c4001d;
  }

  .col-3 {
    width: 33.3333%;
  }
   
}
